{% load crispy_forms_tags %}
<html>
    <head>
        <title>L-E-COMMERCE | signup</title>
        <link rel="icon" href="/static/img/logo1.png" type="image/icon type">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <!--<link rel="stylesheet" type="text/css" href="#">-->
    </head>

    <body>
        <nav class="navbar navbar-dark navbar-expand-sm sticky-top bg-dark" >
            <div class="container-fluid"><a class="navbar-brand text-center" href="#" style="margin: 0px 0px;"><i class="fas fa-shapes fa-1x mt-1 tm-logo"></i> L-E-COMMERCE</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav text-light ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'homepagess' %}"><i class="fas fa-home"></i>Home</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'about' %}"><i class="fas fa-info-circle"></i>About</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'contact' %}"><i class="fas fa-paper-plane"></i>Contact</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'shop_login' %}"><i class="fas fa-sign-in-alt"></i>Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--<div class="sidestyle">
            <center><h1>Welcome</h1>
            <p>You are 30 seconds away for find the suitable Soils and Crops for your locations..!</p><br>
            <p>Already a Visitor of Agro Smart.?</p>
            <a class="btn btn-primary" href="{% url 'shop_login' %}">Login</a></center>
        </div>-->
    
        <div class="container">
            <div class="container">
                <div class="container">
                    <div class="container">
                        <div class="container">
                            <div class="container">
                                <div class="container">
                                    <div class="container"><div class="container"><div class="container"><div class="container"><div class="container">
            <!--<div class="btn-group float-right">

                <a href="#" class="btn btn-primary">Visitor</a>
                <a href="#" class="btn btn-secondary">Officer</a>
            </div>-->
            <h4 align='center'> SHOP REGISTERATION</h4>
            <form method="POST">
                {% csrf_token %} 
                <br>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form1.first_name | as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form1.last_name | as_crispy_field }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form2.licenseno | as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form2.pincode | as_crispy_field }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form2.shop_name | as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form2.place_name | as_crispy_field }}
                    </div>
                </div>

                

                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form2.email | as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form1.username | as_crispy_field }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form1.password | as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form1.confirm_password | as_crispy_field }}
                    </div>
                </div>
                
                <div class="submit" >
                    <button style="background-color:black;color:white;border-color: black;" type="submit" class="btn btn-primary" >Register</button>
                    <button style="background-color:black;color:white;border-color: black;" type="reset" class="btn btn-primary">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div></div></div></div></div></div></div></div></div>

    </body>
</html>